<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragment :: header">
    	
    </head>
    
    <body>
    	<nav th:replace="fragment :: navbar"></nav>
    	
    	<div class="container-fluid col-sm-4">
    		<h3>Tambah Penduduk</h3>
    		<form action="/penduduk/tambah" method="post" th:object="${penduduk}"> 
    			<div class="form-group">
    				<label for="nama">Nama</label>
    				<input class="form-control" type="text" name="nama" required="true" ></input> <!-- th:field="*{nama}" --> 
    			</div>
    			<div class="form-group">
    				<label for="statusDalamKeluarga">Status Dalam Keluarga</label>
    				<select class="form-control" type="text" name="statusDalamKeluarga" required="true" > <!-- th:value="*{status_dalam_keluarga}" --> 
    				<option selected="true" disabled="disabled" value=""></option>
    					<option>Kepala Keluarga</option>
    					<option>Istri</option>
    					<option>Anak</option>
    				</select>
    			</div>
    			<div class="form-group">
    				<label for="tempatLahir">Tempat Lahir</label>
    				<input class="form-control" type="text" name="tempatLahir" required="true" ></input> <!-- th:value="*{tempat_lahir}" --> 
    			</div>
    			<div class="form-group">
    				<label for="tanggalLahir">Tanggal Lahir (format YYYY-MM-DD)</label>
    				<input class="form-control" type="text" name="tanggalLahir" required="true" ></input> <!-- th:value="*{tanggal_lahir}" --> 
    			</div>
    			<div class="form-group">
    				<label for="goldar">Golongan Darah</label>
    				<select class="form-control" type="text" name="goldar" required="true" > <!-- th:value="*{golongan_darah}" --> 
    				<option selected="true" disabled="disabled" value=""></option>
    					<option>A+</option>
    					<option>A-</option>
    					<option>B+</option>
    					<option>B-</option>
    					<option>O+</option>
    					<option>O-</option>
    					<option>AB+</option>
    					<option>AB-</option>
    				</select>
    			</div>
    			<div class="form-group">
    				<label for="agama">Agama</label>
    				<input class="form-control" type="text" name="agama" required="true" ></input> <!-- th:value="*{agama}" --> 
    			</div>
    			<div class="form-group">
    				<label for="statusKawin">Status Perkawinan</label>
    				<select class="form-control" type="text" name="statusKawin" required="true" > <!-- th:value="*{status_perkawinan}" --> 
    				<option selected="true" disabled="disabled" value=""></option>
    					<option>Kawin</option>
    					<option>Belum Kawin</option>
    				</select>
    			</div>
    			<div class="form-group">
    				<label for="pekerjaan">Pekerjaan</label>
    				<input class="form-control" type="text" name="pekerjaan" required="true" ></input> <!-- th:value="*{pekerjaan}" --> 
    			</div>
    			<div class="form-group">
    				<label for="kewarganegaraan">Kewarganegaraan</label>
    				<select class="form-control" type="text" name="kewarganegaraan" required="true" > <!-- th:value="*{is_wni}" --> 
    				<option selected="true" disabled="disabled" value=""></option> <!-- th:value=" '' " -->
	    				<option th:value="'1'">WNI</option>
	    				<option th:value="'0'">WNA</option>
    				</select>
    			</div>
    			<div class="form-group">
    				<label for="statusKematian">Status Kematian</label>
    				<select class="form-control" type="text" name="statusKematian" required="true" > <!-- th:value="*{is_wafat}" --> 
    				<option selected="true" disabled="disabled" value=""></option> <!-- th:value=" '' " -->
	    				<option th:value="'1'">Wafat</option>
	    				<option th:value="'0'">Hidup</option>
    				</select>
    			</div>
    			<div class="form-group">
    				<label for="jenisKelamin">Jenis Kelamin</label>
    				<select class="form-control" type="text" name="jenisKelamin" required="true"  > <!-- th:value="*{jenis_kelamin}" --> 
    				<option selected="true" disabled="disabled" value=""></option> <!-- th:value=" '' " -->
	    				<option th:value="'1'">Perempuan</option>
	    				<option th:value="'0'">Laki-laki</option>
    				</select>
    			</div>
    			<div class="form-group">
    				<label for="idKeluarga">ID Keluarga</label>
    				<input class="form-control" type="text" name="idKeluarga" required="true" ></input> <!-- th:value="*{id_keluarga}" --> 
    			</div>
    			
    			<button name="action" type="submit" class="btn btn-primary">Simpan Penduduk</button>
    		</form>
    		<br/>
    		<br/>
    	</div>
	</body>
</html>