<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragment :: header">
    	
    </head>
    
    <body>
    	<nav th:replace="fragment :: navbar"></nav>
    	
    	<div class="container-fluid col-sm-4">
    		<h3>Ubah Data Penduduk</h3>
    		<form th:action="'/penduduk/ubah/' + ${penduduk.nik}" method="post" th:object="${penduduk}"> 
    			<div class="form-group">
    				<label for="nik">NIK</label>
    				<input class="form-control" type="text" name="nik" required="true" th:field="*{nik}" th:value="${penduduk.nik}" readonly="readonly"></input>  
    			</div>
    			<div class="form-group">
    				<label for="nama">Nama</label>
    				<input class="form-control" type="text" name="nama" required="true" th:field="*{nama}" th:value="${penduduk.nama}"></input> <!--  --> 
    			</div>
    			<div class="form-group">
    				<label for="statusDalamKeluarga">Status Dalam Keluarga</label>
    				<select class="form-control" type="text" name="statusDalamKeluarga" required="true" th:field="*{statusDalamKeluarga}"> <!--  --> 
    				<option selected="true" disabled="disabled" th:value="${penduduk.statusDalamKeluarga}"></option>
    					<option th:value="'Kepala Keluarga'">Kepala Keluarga</option>
    					<option th:value="'Istri'">Istri</option>
    					<option th:value="'Anak'">Anak</option>
    				</select>
    			</div>
    			<div class="form-group">
    				<label for="tempatLahir">Tempat Lahir</label>
    				<input class="form-control" type="text" name="tempatLahir" required="true" th:field="*{tempatLahir}" th:value="${penduduk.tempatLahir}"></input> <!--  --> 
    			</div>
    			<div class="form-group">
    				<label for="tanggalLahir">Tanggal Lahir (format YYYY-MM-DD)</label>
    				<input class="form-control" type="text" name="tanggalLahir" required="true" th:value="${penduduk.tanggalLahir}"></input> <!--  --> 
    			</div>
    			<div class="form-group">
    				<label for="goldar">Golongan Darah</label>
    				<select class="form-control" type="text" name="goldar" required="true" th:field="*{goldar}"> <!--  --> 
    				<option selected="true" th:disabled="disabled" th:value="${penduduk.goldar}" th:text="${penduduk.goldar}"></option>
    					<option th:value="'A+'">A+</option>
				        <option th:value="'A-'">A-</option>
				        <option th:value="'B+'">B+</option>
				        <option th:value="'B-'">B-</option>
				        <option th:value="'O+'">O+</option>
				        <option th:value="'O-'">O-</option>
				        <option th:value="'AB+'">AB+</option>
				        <option th:value="'AB-'">AB-</option>
    				</select>
    			</div>
    			<div class="form-group">
    				<label for="agama">Agama</label>
    				<input class="form-control" type="text" name="agama" required="true" th:value="${penduduk.agama}"></input> <!--  --> 
    			</div>
    			<div class="form-group">
    				<label for="statusKawin">Status Perkawinan</label>
    				<select class="form-control" type="text" name="statusKawin" required="true" th:value="*{statusKawin}" > <!--  --> 
    				<option selected="true" disabled="disabled" th:value="${penduduk.statusKawin}" th:text="${penduduk.statusKawin}"></option>
    					<option th:value="'Kawin'">Kawin</option>
    					<option th:value="'Belum Kawin'">Belum Kawin</option>
    				</select>
    			</div>
    			<div class="form-group">
    				<label for="pekerjaan">Pekerjaan</label>
    				<input class="form-control" type="text" name="pekerjaan" required="true" th:value="${penduduk.pekerjaan}"></input> <!--  --> 
    			</div>
    			<div class="form-group">
    				<label for="kewarganegaraan">Kewarganegaraan</label>
    				<select class="form-control" type="text" name="kewarganegaraan" required="true" th:value="*{kewarganegaraan}"> <!--  --> 
    				<option selected="true" disabled="disabled" th:value="${penduduk.kewarganegaraan}" th:text="${penduduk.kewarganegaraan} == 0 ? 'WNA' : 'WNI' "></option> <!-- -->
	    				<option th:value="'1'">WNI</option>
	    				<option th:value="'0'">WNA</option>
    				</select>
    			</div>
    			<div class="form-group">
    				<label for="statusKematian">Status Kematian</label>
    				<select class="form-control" type="text" name="statusKematian" required="true" th:value="*{statusKematian}"> <!--  --> 
    				<option selected="true" disabled="disabled" th:value="${penduduk.statusKematian}" th:text="${penduduk.statusKematian} == 0 ? 'Hidup' : 'Wafat' "></option> <!-- th:value=" '' " -->
	    				<option th:value="'1'">Wafat</option>
	    				<option th:value="'0'">Hidup</option>
    				</select>
    			</div>
    			<div class="form-group">
    				<label for="jenisKelamin">Jenis Kelamin</label>
    				<select class="form-control" type="text" name="jenisKelamin" required="true" th:field="*{jenisKelamin}" > <!--  --> 
    				<option selected="true" disabled="disabled" th:value="${penduduk.jenisKelamin}" th:text="${penduduk.jenisKelamin} == 0 ? 'Laki-laki' : 'Perempuan' "></option> <!-- th:value=" '' " -->
	    				<option th:value="'1'">Perempuan</option>
	    				<option th:value="'0'">Laki-laki</option>
    				</select>
    			</div>
    			<div class="form-group">
    				<label for="idKeluarga">ID Keluarga</label>
    				<input class="form-control" type="text" name="idKeluarga" required="true" th:value="${penduduk.idKeluarga}"></input> <!--  --> 
    			</div>
    			
    			<button name="action" type="submit" class="btn btn-primary">Simpan Perubahan Penduduk</button>
    		</form>
    		<br/>
    		<br/>
    	</div>
	</body>
</html>