<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View Penduduk by NIK</title>
    </head>
    <body>
    	<h3 th:text="'Lihat Data Penduduk - ' + ${penduduk.nik} "></h3>
       	<h3 th:text="'NIK = ' + ${penduduk.nik}">NIK penduduk</h3>
       	<h3 th:text="'Name = ' + ${penduduk.nama}">nama penduduk</h3>
       	<h3 th:text="'Tempat/Tanggal Lahir = ' + ${penduduk.tempatLahir} + ', ' + ${penduduk.tanggalLahir}">TTL penduduk</h3>
    	<h3 th:text="'Alamat = ' + ${keluarga.alamat}">alamat</h3>
    	<h3 th:text="'RT/RW = ' + ${keluarga.rt} + '/' + ${keluarga.rw}">rt/rw</h3>
    	<!-- <h3 th:text="'Kelurahan/Desa = ' + ${keluarga.kelurahan}">kelurahan</h3> -->
    	<h3 th:text="'Kecamatan = ' + ${penduduk.kecamatan}">kecamatank</h3>
		<h3 th:text="'Kota = ' + ${penduduk.kota}">kota</h3>
		<h3 th:text="'Golongan Darah = ' + ${penduduk.goldar}">goldar</h3>
		<h3 th:text="'Agama = ' + ${penduduk.agama}">agama</h3>
		<h3 th:text="'Status Perkawinan = ' + ${penduduk.statusKawin}">status perkawinan</h3>
		<h3 th:text="'Pekerjaan = ' + ${penduduk.pekerjaan}">pekerjaan</h3>    
		<h3 th:text="'Kewarganegaraan = '"></h3>
		<span th:switch="${penduduk.kewarganegaraan}">
			<h3 th:case="'1'">WNI</h3>
			<h3 th:case="'0'">Bukan WNI</h3>
		</span>
		<h3 th:text="'Status Kematian = '">iswafat</h3>
		<span th:switch="${penduduk.statusKematian}">
			<h3 th:case="'0'">Hidup</h3>
			<h3 th:case="'1'">Mati</h3>
		</span>
    </body>
</html>