<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View Keluarga by NKK</title>
    </head>
    <body>
    	<h3 th:text="'Lihat Data Keluarga - ' + ${keluarga.nkk} "></h3>
       	<h3 th:text="'NKK = ' + ${keluarga.nkk}">nkk</h3>
       	<h3 th:text="'Alamat = ' + ${keluarga.alamat}">alamat</h3>
       	<h3 th:text="'RT/RW = ' + ${keluarga.rt} + '/' + ${keluarga.rw}">rt rw</h3>
       	<h3 th:text="'Kelurahan/Desa = ' + ${keluarga.kelurahan}">kelurahan</h3>
       	<h3 th:text="'Kecamatan = ' + ${keluarga.kecamatan}">kecamatan</h3>
       	<h3 th:text="'Kota = ' + ${keluarga.kota}">NIK penduduk</h3>
       	<ul th:each = "count,iterationStatus: ${anggota}">
			<li th:text = "${count.nama} + '-' + ${count.nik}" >
				nama anggota - nik
			</li>
		</ul>
    </body>
</html>